* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  height: 480px;
  width: 700px;
}
.final-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 690px;
  padding: 5px;
  margin-bottom: 10px;

  background-color: rgba(172, 224, 172, 0.5);
  color: green;
}
.card {
  display: flex;
  flex-direction: row;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
}
.image-right {
  width: 300px;
  height: 380px;
  margin: 20px;
  margin-left: 0px;
  background-image: url("card.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.card-content {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px 50px;
}
.fist-last-name {
  display: flex;
  flex-direction: column;
  width: 340px;
  gap: 10px;
  margin: 10px 0px;
}
.gender {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 60px;
}
.gender-selctor {
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  width: 30px;
  margin-right: 200px;
  align-self: flex-end;
}
input[type="text"] {
  height: 2em;

  border: 1px solid black;
}
#submit-btn {
  border: transparent;
  border-radius: 5px;

  width: 100px;
  height: 30px;
  align-self: flex-end;
  margin-top: 30px;
  background-color: rgb(130, 195, 235);
  color: whitesmoke;
}
.hidden {
  visibility: hidden;
}
#messageClose {
  cursor: default;
  font-weight: bolder;
}
#message-box {
  border: 1px solid black;
}
