@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mulish&family=Orbitron:wght@500&display=swap");
#topnavbar {
  display: flex;
  background-color: #c0e4f5;
  list-style: none;
  height: 50px;
  box-shadow: 2px 5px 3px darkgrey;
  z-index: 9;
  min-width: 800px;
  justify-content: space-between;
}

a {
  display: inline-block;

  margin-left: 1vw;
  position: relative;
  text-decoration: none;
  color: rgb(109, 65, 65);
  padding: 16px;
}
a:hover {
  display: inline-block;
  padding: 16px;
  margin-left: 1vw;
  position: relative;
  text-decoration: none;
  box-shadow: 2px 2px 2px darkgrey;
  color: rgb(109, 65, 65);
  background-color: white;
}
#logo {
  color: rgb(66, 10, 10);
  font-family: Dancing Script;
  font-size: 40px;
  padding-left: 30px;
  text-shadow: 1px 2px rgb(216, 201, 183);
}
body {
  font-family: sans-serif;
}
#menus {
  display: flex;

  display: flex;
  list-style: none;
}
#maincontent {
  background-image: linear-gradient(white, #c0e4f5);
  height: 90vh;
  margin: 10px;
  border-radius: 0px 0px 30px 30px;
  min-width: 800px;
}
#footer {
  position: relative;
  float: right;
  font-size: xx-small;
}
