#topas {
  position: relative;
  width: 100%;
  height: 30px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-style: solid;
}
#home {
  position: relative;
  float: right;
  padding-left: 20px;
  padding-top: 0px;
  top: -15px;
}
#about {
  position: relative;
  float: right;
  padding-left: 20px;
  top: -15px;
}
#archive {
  position: relative;
  float: right;
  padding-left: 20px;
  top: -15px;
}
#blogname {
  float: left;
}
body {
  position: absolute;
  left: 25%;
  float: left;
  width: 800px;
}
.dateposted {
  font-style: italic;
}
.topmenus {
  font-size: 15px;
}
.topmenus:hover {
  font-size: 20px;
}
