* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px;
}
.commentsArea {
  display: flex;
  flex-direction: column;
  background-color: rgba(224, 255, 255, 0.582);
  height: 100%;
  width: 600px;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  box-shadow: 0px 0px 15px black;

  overflow: hidden;
}
#textBoxComment {
  width: 100%;
  height: 120px;
  resize: none;
}
.addBtn {
  align-self: flex-end;
}
#addComment {
  height: 30px;
  width: 120px;
  margin: 10px;
  border: none;
  background-color: blue;
  color: aliceblue;
  border-radius: 5px;
  box-shadow: 0px 5px 10px black;
}
#emailAddress {
  margin: 5px 0px;
  width: 300px;
  height: 35px;
}
.divCommClass {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 5px grey;
}
.commentBody {
  height: 100%;
  padding: 10px;
  width: 600px;
}
.commentEmail {
  margin: 20px 0px;
  width: 500px;
  border: 3px solid ligtgray;
  font-size: small;
}
.commentCloseClass {
  margin: 5px;
  font-size: smaller;
  color: darkgray;
  cursor: pointer;
  align-self: flex-end;
}
.isHidden {
  display: none;
}
body > div > p {
  color: darkgray;
  cursor: pointer;
  margin: 10px;
  text-decoration: underline;
}
.showHideBlack {
  color: black;
}
