#monster {
  position: absolute;
  opacity: 80%;
  top: 100px;
  left: 100px;
  border-radius: 50%;
}
#buttons {
  position: relative;
  top: 15px;
  left: 280px;
  background-color: rgb(15, 71, 17);
  width: 100px;
  border-radius: 50%;
  border-style: solid;
}
#up {
  border-radius: 50%;
  position: relative;
}
#left {
  border-radius: 50%;
  left: 0cm;
  position: relative;
}
#right {
  border-radius: 50%;
  left: 45px;
  position: relative;
}
#up {
  border-radius: 50%;
  left: 1cm;
  position: relative;
}
#down {
  border-radius: 50%;
  right: -40px;
  position: relative;
  margin: 0, 0, 0, 0;
}
#demo1 {
  position: relative;
  right: 30ps;
}
#square {
  border-style: solid;
  width: 700px;
  height: 450px;
  top: 0cm;
  left: 90px;
  padding: 0%;
  border-width: 100px;
  border-top-color: blue;
  border-left-color: rgb(182, 182, 243);
  border-right-color: rgb(23, 23, 165);
  border-bottom-color: rgb(51, 51, 182);
  background-color: cadetblue;
  background-image: url("https://imagebee.org/nature/free-beach-sand/free-beach-sand-wallpaper-22206-22763-hd-wallpapers-1920x1200.jpg");
  z-index: -1;
  background-size: cover;
  border-image: linear-gradient(#93d5fc, #3809e4) 1;
}
#palm1 {
  left: 200px;
  position: relative;
  top: 50px;
  height: 200px;
  width: 100px;
  z-index: 9;
}
#coin {
  position: relative;

  box-sizing: border-box;
  height: 100px;
  width: 100px;
  float: left;
  top: 100px;
}
body {
  background-color: black;
}
#score {
  color: yellow;
}
#description {
  color: white;
}
